**Task**: Convert time series forecasting to a supervised learning problem. This is also called re-framing the time series data. This way we can apply machine learning algorithms to forecast future time series values.

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
dataPath = os.path.join("..", "data", "london2018")

In [4]:
janSpeedsData = pd.read_csv(os.path.join(dataPath, "movement-speeds-hourly-london-2018-1.csv"))

In [5]:
janSpeedsData

,year,month,day,hour,utc_timestamp,segment_id,start_junction_id,end_junction_id,osm_way_id,osm_start_node_id,osm_end_node_id,speed_mph_mean,speed_mph_stddev
0,2018,1,21,11,2018-01-21T11:00:00.000Z,6f7512340e3274c683e3fb9557182fe63a05be1f,c26332985b1cc70e9eb5db3f4e93b4aeaf17364d,d5468e2372e25240ff90b4106df30d4afee7dbbc,8179128,1343922650,108500,12.297,4.405
1,2018,1,16,19,2018-01-16T19:00:00.000Z,6f7512340e3274c683e3fb9557182fe63a05be1f,c26332985b1cc70e9eb5db3f4e93b4aeaf17364d,d5468e2372e25240ff90b4106df30d4afee7dbbc,8179128,1343922650,108500,11.301,4.761
2,2018,1,19,9,2018-01-19T09:00:00.000Z,6f7512340e3274c683e3fb9557182fe63a05be1f,c26332985b1cc70e9eb5db3f4e93b4aeaf17364d,d5468e2372e25240ff90b4106df30d4afee7dbbc,8179128,1343922650,108500,11.740,6.244
3,2018,1,12,20,2018-01-12T20:00:00.000Z,6f7512340e3274c683e3fb9557182fe63a05be1f,c26332985b1cc70e9eb5db3f4e93b4aeaf17364d,d5468e2372e25240ff90b4106df30d4afee7dbbc,8179128,1343922650,108500,12.948,5.423
4,2018,1,30,8,2018-01-30T08:00:00.000Z,6f7512340e3274c683e3fb9557182fe63a05be1f,c26332985b1cc70e9eb5db3f4e93b4aeaf17364d,d5468e2372e25240ff90b4106df30d4afee7dbbc,8179128,1343922650,108500,12.744,4.880
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36715650,2018,1,27,10,2018-01-27T10:00:00.000Z,4a9badf42a91904f59671f7b753bb81602833623,4fd959246fb2a5fc39eefc2b07944e6f99fd3b21,da8e1f84ab98c90129c546f4c2e9a545054102a7,688989358,4804443645,3863127062,16.423,5.425
36715651,2018,1,9,19,2018-01-09T19:00:00.000Z,4a9badf42a91904f59671f7b753bb81602833623,4fd959246fb2a5fc39eefc2b07944e6f99fd3b21,da8e1f84ab98c90129c546f4c2e9a545054102a7,688989358,4804443645,3863127062,17.716,3.701
36715652,2018,1,22,15,2018-01-22T15:00:00.000Z,4a9badf42a91904f59671f7b753bb81602833623,4fd959246fb2a5fc39eefc2b07944e6f99fd3b21,da8e1f84ab98c90129c546f4c2e9a545054102a7,688989358,4804443645,3863127062,13.400,3.784
36715653,2018,1,6,13,2018-01-06T13:00:00.000Z,4a9badf42a91904f59671f7b753bb81602833623,4fd959246fb2a5fc39eefc2b07944e6f99fd3b21,da8e1f84ab98c90129c546f4c2e9a545054102a7,688989358,4804443645,3863127062,14.369,3.210
36715654,2018,1,25,18,2018-01-25T18:00:00.000Z,4a9badf42a91904f59671f7b753bb81602833623,4fd959246fb2a5fc39eefc2b07944e6f99fd3b21,da8e1f84ab98c90129c546f4c2e9a545054102a7,688989358,4804443645,3863127062,15.331,5.166

In [6]:
janSpeedsData = janSpeedsData.sort_values(by=['osm_way_id', 'month', 'day', 'hour'])
janSpeedsData

,year,month,day,hour,utc_timestamp,segment_id,start_junction_id,end_junction_id,osm_way_id,osm_start_node_id,osm_end_node_id,speed_mph_mean,speed_mph_stddev
10497959,2018,1,1,0,2018-01-01T00:00:00.000Z,42c4ef008665c76fcdccba7f8b727ad0da7efb9f,1881b5978d87990b7b21ebda10cd27931e93e6a8,6f2ee0178b30d3b78eeb22ddf88d3e7b1e8c8ab3,73,5849976474,196069,17.645,14.337
10497876,2018,1,1,1,2018-01-01T01:00:00.000Z,42c4ef008665c76fcdccba7f8b727ad0da7efb9f,1881b5978d87990b7b21ebda10cd27931e93e6a8,6f2ee0178b30d3b78eeb22ddf88d3e7b1e8c8ab3,73,5849976474,196069,9.413,8.057
10497869,2018,1,1,2,2018-01-01T02:00:00.000Z,42c4ef008665c76fcdccba7f8b727ad0da7efb9f,1881b5978d87990b7b21ebda10cd27931e93e6a8,6f2ee0178b30d3b78eeb22ddf88d3e7b1e8c8ab3,73,5849976474,196069,9.620,11.860
10497858,2018,1,1,3,2018-01-01T03:00:00.000Z,42c4ef008665c76fcdccba7f8b727ad0da7efb9f,1881b5978d87990b7b21ebda10cd27931e93e6a8,6f2ee0178b30d3b78eeb22ddf88d3e7b1e8c8ab3,73,5849976474,196069,10.554,11.355
10497908,2018,1,1,4,2018-01-01T04:00:00.000Z,42c4ef008665c76fcdccba7f8b727ad0da7efb9f,1881b5978d87990b7b21ebda10cd27931e93e6a8,6f2ee0178b30d3b78eeb22ddf88d3e7b1e8c8ab3,73,5849976474,196069,9.075,12.587
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35325367,2018,1,31,19,2018-01-31T19:00:00.000Z,0b287cf2790c8cce47ca6cf3c7aa26b80efea4fc,2c0e9e067174f8d11e43a59229f4f4dc4f21642f,28c38e4aed242e525cb21709d8bf298590c2aca8,700437744,3195845014,3195845011,16.920,7.662
35325489,2018,1,31,20,2018-01-31T20:00:00.000Z,0b287cf2790c8cce47ca6cf3c7aa26b80efea4fc,2c0e9e067174f8d11e43a59229f4f4dc4f21642f,28c38e4aed242e525cb21709d8bf298590c2aca8,700437744,3195845014,3195845011,20.410,8.645
35325577,2018,1,31,21,2018-01-31T21:00:00.000Z,0b287cf2790c8cce47ca6cf3c7aa26b80efea4fc,2c0e9e067174f8d11e43a59229f4f4dc4f21642f,28c38e4aed242e525cb21709d8bf298590c2aca8,700437744,3195845014,3195845011,20.910,7.185
35325625,2018,1,31,22,2018-01-31T22:00:00.000Z,0b287cf2790c8cce47ca6cf3c7aa26b80efea4fc,2c0e9e067174f8d11e43a59229f4f4dc4f21642f,28c38e4aed242e525cb21709d8bf298590c2aca8,700437744,3195845014,3195845011,17.897,7.650
35325436,2018,1,31,23,2018-01-31T23:00:00.000Z,0b287cf2790c8cce47ca6cf3c7aa26b80efea4fc,2c0e9e067174f8d11e43a59229f4f4dc4f21642f,28c38e4aed242e525cb21709d8bf298590c2aca8,700437744,3195845014,3195845011,19.867,7.223

In [14]:
data = pd.DataFrame()
data['speed_mph_mean'] = janSpeedsData['speed_mph_mean']
data

          speed_mph_mean
10497959          17.645
10497876           9.413
10497869           9.620
10497858          10.554
10497908           9.075
...                  ...
35325367          16.920
35325489          20.410
35325577          20.910
35325625          17.897
35325436          19.867

[36715655 rows x 1 columns]

In [15]:
data['speed (t-1)'] = data['speed_mph_mean'].shift(1)
data

          speed_mph_mean  speed (t-1)
10497959          17.645          NaN
10497876           9.413       17.645
10497869           9.620        9.413
10497858          10.554        9.620
10497908           9.075       10.554
...                  ...          ...
35325367          16.920       21.180
35325489          20.410       16.920
35325577          20.910       20.410
35325625          17.897       20.910
35325436          19.867       17.897

[36715655 rows x 2 columns]